version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio-frontend
    restart: always
    ports:
      - "4200:80"
    depends_on:
      - backend
    volumes:
      - ./dist:/usr/share/nginx/html

  backend:
    build: ./backend
    container_name: portfolio-backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres_secure_password
      - POSTGRES_DB=portfolio_db
      # - DATABASE_URL=postgresql://neondb_owner:npg_emr3diS1DhcU@ep-lingering-art-ah6lo7cz-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require
      - DATABASE_URL=postgres://postgres:postgres_secure_password@postgres:5432/portfolio_db
    depends_on:
      - postgres
    volumes:
      - ./dist:/dist

  postgres:
    image: postgres:15-alpine
    container_name: portfolio-postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres_secure_password
      - POSTGRES_DB=portfolio_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: portfolio-pgadmin
    restart: always
    ports:
      - "5051:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    depends_on:
      - postgres

volumes:
  postgres_data:
